<div class="center">
<%= image_tag("FluentApp_Logo.png", width: '100px') %>
</div>

<h1 class="center">Log In</h1>
<div class="center">
<%= form_for(@user, url: login_path) do |f| %>
    <div>

    <% if @user.errors.any? %>
    <div id="error_explanation">
     <h4> 
        <%= pluralize(@user.errors.count, "error") %> kept you from logging in:
    </h4>        

    <ul>
    <% @user.errors.full_messages.each do |message| %>
        <%= message %><br>
    <% end %>
    </ul>
    </div>
<% end %>

    <%= f.email_field :email, placeholder: "Email" %><br>
    </div><br>

    <div>

    <%= f.password_field :password, placeholder: "Password" %><br>
    </div>
    <br/>
    
    <%= f.submit "Log In"%>

<% end %>

<br><br>

<%= button_to "Log in with Google", '/auth/google_oauth2'  %>
</div>