
<div class="center">
    <h1 class="center">Schedule a call</h1>

<%= form_for @call, url: new_language_call_path do |f| %>
    <div>
    <%= f.label :schedule_time, "Select a date and time" %><br>
    <%= f.datetime_field :schedule_time %><br/><br>
    </div>

    <div>
    <%=f.number_field :duration, placeholder:"Duration in minutes" %><br/>
    </div><br>
    
    <%=f.submit %>

<% end %>    
</div>