<%= form_for @user do |f| %>
    
    <div>
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name %>
    </div>

    <div>
    <%= f.label :username, "Username" %><br>
    <%= f.text_field :username %>
    </div>


    <div>
    <%= f.label :email, "Email" %><br>
    <%= f.email_field :email %>
    </div>

    <div>
    <%= f.label :native_language, "Select Your Native Languages" %><br>
    <%= f.check_box :native_language %>
    </div>

    <div>
    <%= f.label :password, "Password" %><br>
    <%= f.password_field :password %>
    </div>

    <div>
    <%= f.label :password_confirmation, "Confirm Password" %><br>
    <%= f.password_field :password_confirmation %>
    </div>

    <%= f.submit %>

<% end %>