<div class="center">
<%= image_tag("FluentApp_Logo.png", width: '100px') %>
</div>

<div class='center'>
<h1 class="center"> Sign Up </h1>

<%= form_for @user do |f| %>

    <% if @user.errors.any? %>
    <div id="error_explanation">
     <h2> 
        <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
    </h2>        

    <ul>
    <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li> 
        <% end %>
    </ul>
    </div>
<% end %>

<div>
<%= f.text_field :name, placeholder:'Name' %>
</div>

<div>
<%= f.text_field :username, placeholder:"Username" %>
</div>


<div>
<%= f.email_field :email, placeholder:"Email" %>
</div>

<div>   
<% f.label :language_ids, "What Languages do you speak?" %><br>
<%= f.collection_check_boxes(:language_ids, @languages, :id, :name) %>
</div>
<br>
<div>
<%= f.password_field :password, placeholder:"Password" %>
</div>

<div>
<%= f.password_field :password_confirmation, placeholder:"Confirm Password" %>
</div>

<br>

<%= f.submit %>

<% end %>
</div>