<!DOCTYPE html>
<html>
  <head>
    <title>FluentApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
    <div class="topnav">
        <%= link_to "Home", user_path(current_user.slug), class:'link'%>
        <%= link_to "Languages", languages_path, class:'link' %>
        <li class="dropdown">
          <a class="dropbtn" float="right">Settings</a>
          <div class="dropdown-content">
              <%= link_to "Edit Account", edit_user_path(current_user.slug)%><br>
              <%= link_to "Log Out", logout_path %>
          </div>
        </li>    
        </div>
  <% end %>

    <%= yield %>
  </body>
</html>
